/* header */
.headArea {
  display: flex;
  position: fixed;
  align-items: center;
  height: 6vh;
  width: 100vw;
  background-color: #98ddca;
}

.headTitle {
  margin: 0;
  margin-left: 1%;
  letter-spacing: 0.05em;
}

.setteingIcon {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  margin-left: auto;
  margin-right: 1%;
}

.icon {
  max-block-size: 70%;
  object-fit: cover;
}

/* breadcrumbs */
.breadcrumbs {
  position: fixed;
  top: 6vh;
  height: 5vh;
  margin-left: 1%;
  padding-top: 0.5vw;
  font-size: 85%;
}

/* day */
.day {
  position: fixed;
  top: 12vh;
  right: 4vw;
}

/* footer */
.footArea {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #98ddca;
  height: 3vh;
  width: 100vw;
  position: fixed;
  bottom: 0;
}

.footText {
  font-size: 80%;
  color: white;
}

/*  */
.mainContent {
  width: 90%;
}

.headlineArea {
  display: flex;
  align-items: center;
  height: 7vh;
  width: 92%;
}

.headline {
  display: flex;
  width: 40vw;
  height: 100%;
  align-items: center;
  margin-left: 0;
}

.headBox {
  margin-left: 1vw;
  position: relative;
  text-shadow: 0 0 2px white;
  background: #f7dac560;
  z-index: -2;
  padding: 0.3rem 2rem 0.3rem 0;
  border-radius: 0 10px 10px;
}

.headBox:before {
  content: "";
  position: absolute;
  background: #FFD3B4;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  top: 50%;
  left: -1.3vw;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: -1;
}


/* button */
.buttonArea {
  margin-left: auto;
  width: 35w;
  height: 75%;
  text-align: right;
}

.button {
  margin-left: 2vw;
  height: 100%;
  width: 10vw;
  font-size: 70%;
  font-weight: bold;
}

/* Breadcrumbs */
.link{
  color: #0044ff;
  font-weight: bold;
  text-decoration: underline;
  cursor: pointer;
}

.link:hover{
  text-shadow: 0 0 0.1rem gray;
}